<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <title>我来贷智能运营系统</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <base href="<%= htmlWebpackPlugin.options.href %>"></base>
</head>

<body>
  <div id="app"></div>
</body>
</html>